

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1{
    width: 400px;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#box1 h2{
    font-size: 24px;
    color: #333;
    
}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input,textarea{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}




